UseTab: Never
IndentWidth: 4
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: true
IndentCaseLabels: false
ColumnLimit: 0
NamespaceIndentation: All
AccessModifierOffset: -4
PointerAlignment: Left
SpaceBeforeParens: Never
CommentPragmas:  '^[^ ]'
AlignConsecutiveAssignments: true